html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

h1,h2,p,span{
    margin: 0;
}
h1{
    font-size: 36px;
}

body{
    font-family: 'Roboto', sans-serif;    
}

.container{
    width: 320px;
    margin: 0 auto;
    text-align: center;
}

.header__text{
    position: relative;
    padding: 20px 0 23px;
    color: #FF0000;
    font-size: 36px;
    &::before{        
        content: '';
        width: 100%;
        height: 19px;
        background-color: #029044;
        position: absolute;
        left: 0;
        top: 0;
    }
    &::after{
        content: '';
        width: 100%;
        height: 19px;
        background-color: #D51D21;;
        position: absolute;
        bottom: 0;
        left: 0;
    }    
    p{
        font-size: 24px;
    }
}

.header__img{
    display: flex;
    flex-direction: column;
    img{
        width: 320px;
        height: 163px;
    }
    .header__img-text{        
        display: flex;
        align-items: center;
        color: #fff;
        background-color: #F98000;
        height: 44px;
        p{
            position: relative;
            padding-left: 16px;
            text-align: left;
            width: 221px;
            font-size: 12px;
            span{
                font-weight: 700;
            }
            &::after{
                content: url(../images/carbeforeelement.png);
                position: absolute;
                right: -59px;
                top: -22px;
                width: 66px;
                height: 73px;
            }
        }
       
    }
}



.formsection__title{
    font-size: 14px;
    font-weight: 700;
    color: #FF0000;
    text-transform: uppercase;
    margin: 16px 0;
}

.form{
    input{
        background-color: #e5e5e5;
        border: none;
        border-radius: 89px;
        width: 288;
        height: 32px;
        padding: 8px 16px;
        outline: none;
        &::placeholder{
            font-size: 14px;
            color: #979797;
        }
    }
    input+input{
        margin: 16px 0;
    }
    p{
        font-size: 14px;
        line-height: 16px;
        color: #D51D21;
        margin-bottom: 19px;
        span{
            font-weight: 700;
        }
    }
    button{
        font-size: 36px;
        text-shadow: 0px 2px 3px #D51D21;
        color: #fff;
        background: linear-gradient(0deg, rgba(213, 29, 33, 0.6) 0%, rgba(255, 255, 255, 0) 100%), #FF0000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 55px;
        border: none;
        width: 216px;
        height: 48px;
        margin-bottom: 16px;
    }
}


.slider__item{
    .slider__item-toptext{
        min-height: 63px;
        font-size: 14px;
        background-color: #029044;
        color: #fff;
        display: flex;
        align-items: center;
    }
    .slider__item-price{
        color: #D51D21;
        font-size: 14px;
        width: 288px;
        margin: 16px 0;
        span{
            font-weight: 700;
            color: #000;
        }
    }

    .slider__item-img{
        position: relative;
        h2{
            position: absolute;
            font-size: 14px;
            text-transform: uppercase;
            color: #fff;
            font-weight: 700;
            top: 16px;
        }
    }

    .slider__item-bottomtext{
        margin: 27px 0;
        position: relative;
        text-align: left;
        padding-left: 74px;
        font-size: 14px;
        &::before{
            content: url(../images/important.svg);
            position: absolute;
            width: 48px;
            height: 48px;
            left: 26px;
            top: -10px ;
        }
    }
}

.slidersection__attenzione{
    min-height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    background-color: #0c93a4;
    color: #fff;
}


.description__text{
    background-image: url(../images/dexcription_bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 16px auto 24px;
    p{
        font-size: 14px;
        max-width: 288px;
        width: 100%;
        margin: 0 auto;
    }
    p+p{
        margin-top: 16px;
    }
}

.slick-dots{
    padding-bottom: 14px;
    li{
        button{
            width: 16px;
            height: 16px;
            background-color: #e5e5e5;
            border-radius: 50%;
            &::before{
                display: none;
            }
        }
    }
    .slick-active{
        button{
              position: relative;
            &::after{
                content: '';
                background-color: #0C93A4;
                width: 8px;
                height: 8px;
                position: absolute;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }          
        }
    }
}
            